I'll be answering the following questions along the way:

1.) What was the change in price of the stock over time?

2.) What was the daily return of the stock on average?

3.) What was the moving average of the various stocks?

4.) What was the correlation between different stocks' closing prices?

5.) What was the correlation between different stocks' daily returns?

6.) How much value do we put at risk by investing in a particular stock?

7.) How can we attempt to predict future stock behavior?

In [1]:
import pandas as pd
import numpy as np
import time
import datetime
import yfinance as yf

# For Visualization
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline

# For reading stock data from yahoo
from pandas_datareader import data

In [2]:
EV_stocks = ['AAPL','TSLA','NIO','XPEV','LI','F','GE']

start_date= "2020-07-14"
end_date="2021-07-14"

In [3]:
data = yf.download(EV_stocks, start="2020-07-14", end="2021-07-14")
data.head()

[*********************100%***********************]  7 of 7 completed

            Adj Close                                                  Close  \
                 AAPL     F        GE  LI    NIO        TSLA XPEV       AAPL
Date
2020-07-14  96.407898  6.36  6.852062 NaN  14.09  303.359985  NaN  97.057503
2020-07-15  97.070930  6.74  7.111006 NaN  13.52  309.201996  NaN  97.724998
2020-07-16  95.876472  6.86  7.021373 NaN  12.94  300.127991  NaN  96.522499
2020-07-17  95.682777  6.80  7.041291 NaN  11.09  300.167999  NaN  96.327499
2020-07-20  97.699188  6.66  6.842103 NaN  12.82  328.600006  NaN  98.357498

                        ...   Open                      Volume             \
               F    GE  ...    NIO        TSLA XPEV       AAPL          F
Date                    ...
2020-07-14  6.36  6.88  ...  13.25  311.200012  NaN  170989200  106131800
2020-07-15  6.74  7.14  ...  13.82  308.600006  NaN  153198000  101648700
2020-07-16  6.86  7.05  ...  12.46  295.432007  NaN  110577600   93498500
2020-07-17  6.80  7.07  ...  11.86  302.690002  NaN   92186800   80769000
2020-07-20  6.66  6.87  ...  11.42  303.802002  NaN   90318000   71361700


                  GE  LI        NIO       TSLA XPEV
Date
2020-07-14  69509200 NaN  196123200  117090500  NaN
2020-07-15  89827100 NaN  114603700   81839000  NaN
2020-07-16  52345300 NaN  134606300   71504000  NaN
2020-07-17  59958000 NaN  289518000   46650000  NaN
2020-07-20  49065600 NaN  155428100   85607000  NaN

[5 rows x 42 columns]

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 252 entries, 2020-07-14 to 2021-07-13
Data columns (total 42 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Adj Close, AAPL)  252 non-null    float64
 1   (Adj Close, F)     252 non-null    float64
 2   (Adj Close, GE)    252 non-null    float64
 3   (Adj Close, LI)    240 non-null    float64
 4   (Adj Close, NIO)   252 non-null    float64
 5   (Adj Close, TSLA)  252 non-null    float64
 6   (Adj Close, XPEV)  220 non-null    float64
 7   (Close, AAPL)      252 non-null    float64
 8   (Close, F)         252 non-null    float64
 9   (Close, GE)        252 non-null    float64
 10  (Close, LI)        240 non-null    float64
 11  (Close, NIO)       252 non-null    float64
 12  (Close, TSLA)      252 non-null    float64
 13  (Close, XPEV)      220 non-null    float64
 14  (High, AAPL)       252 non-null    float64
 15  (High, F)          252 non-null    float64
 16  (High, GE)         252 non-null    float64
 17  (High, LI)         240 non-null    float64
 18  (High, NIO)        252 non-null    float64
 19  (High, TSLA)       252 non-null    float64
 20  (High, XPEV)       220 non-null    float64
 21  (Low, AAPL)        252 non-null    float64
 22  (Low, F)           252 non-null    float64
 23  (Low, GE)          252 non-null    float64
 24  (Low, LI)          240 non-null    float64
 25  (Low, NIO)         252 non-null    float64
 26  (Low, TSLA)        252 non-null    float64
 27  (Low, XPEV)        220 non-null    float64
 28  (Open, AAPL)       252 non-null    float64
 29  (Open, F)          252 non-null    float64
 30  (Open, GE)         252 non-null    float64
 31  (Open, LI)         240 non-null    float64
 32  (Open, NIO)        252 non-null    float64
 33  (Open, TSLA)       252 non-null    float64
 34  (Open, XPEV)       220 non-null    float64
 35  (Volume, AAPL)     252 non-null    int64
 36  (Volume, F)        252 non-null    int64
 37  (Volume, GE)       252 non-null    int64
 38  (Volume, LI)       240 non-null    float64
 39  (Volume, NIO)      252 non-null    int64
 40  (Volume, TSLA)     252 non-null    int64
 41  (Volume, XPEV)     220 non-null    float64
dtypes: float64(37), int64(5)
memory usage: 84.7 KB

In [5]:
closing_df = pdr.get_data_yahoo(['AAPL','TSLA','NIO','XPEV','LI','F','GE'], start = '2020-09-01',end = '2021-07-01')['Adj Close']
closing_df.head(10)

NameError: name 'pdr' is not defined